:root {
  --couleurVerte: hsl(66.84, 40.51%, 76.47%);
  --couleurOrange: rgb(254, 106, 92);
  --couleurBlanc: hsl(0, 0%, 100%);
  --couleurNoir: hsl(0, 0%, 0%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
ul {
  display: none;
}

aside {
  display: none;
}

.wrapper {
  width: 95vw;
  margin: 0 auto;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h2,
h3 {
  text-align: center;
  margin: 0em;
}

p {
  text-align: justify;
}

.collab {
  background-color: var(--couleurVerte);
  color: #ffffff;
  padding: 1em 1em 1em 0.5em;
  margin: 0rem;
}

h3 {
  color: lightgray;
}

section h2.titreSection {
  color: var(--couleurOrange);
  margin-top: 0.5em;
}

section .coteacote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .coteacote img {
  width: 50%;
}

@media screen and (min-width: 767px) {
  header {
    background-image: url(../../../_assets/_link/entete-original.jpg);
    background-size: cover;
    height: 20vh;
  }
  header i {
    display: none;
  }
  header img {
    display: none;
  }
  .collab {
    width: 80vw;
    padding: 0.5em 0em;
    margin: 1em 0em 0em 3em;
  }
  .wrapper {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper aside {
    display: block;
    padding-right: 2em;
  }
  .wrapper .profilAside {
    width: 5em;
    border: solid 3px var(--couleurNoir);
    padding: 0.25em;
  }
  .wrapper .contenu {
    display: inline;
    -webkit-box-flex: 40;
        -ms-flex-positive: 40;
            flex-grow: 40;
  }
  .wrapper .prenom,
  .wrapper .nom {
    text-align: center;
  }
  .wrapper .pub {
    width: 5em;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--couleurNoir);
    padding: 1em;
    margin: 0em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  ul > li {
    text-decoration: none;
    list-style: none;
    padding: 1em 0em;
  }
  ul > li > a {
    color: var(--couleurBlanc);
    text-decoration: none;
    padding: 1em 1rem;
  }
  ul a:hover {
    background-color: var(--couleurBlanc);
    color: var(--couleurNoir);
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-size: cover;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  margin-top: 3em;
}

footer > p {
  color: #ffffff;
  font-size: 0.8rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--couleurNoir);
}

header > h1 {
  border: 2px solid var(--couleurBlanc);
  padding: 0.25em 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4vh;
}

header .logo {
  width: 15em;
  margin-left: 2em;
}

header > img {
  color: var(--couleurNoir);
}

header > i {
  color: var(--couleurBlanc);
}

header .profil {
  width: 1.8em;
  position: absolute;
  right: 1em;
  top: 0.75em;
  border: solid 3px var(--couleurBlanc);
  padding: 0.25em;
}

.deuxieme {
  height: 26rem;
}

.sectionRecette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionRecette .recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionRecette .recette img {
  width: 20vw;
}

.sectionRecette .recette p.titreRecette {
  font-size: 1rem;
  text-align: none;
  margin: 0em;
}

.sectionRecette .recette i {
  color: var(--couleurBlanc);
}

.sectionRecette .recette a {
  text-decoration: none;
  background-color: var(--couleurVerte);
  color: #ffffff;
  padding: 0.25em;
}
/*# sourceMappingURL=style.css.map */