header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--couleurNoir);

    &>h1 {
        @include titre;

    }

    .logo {
        width: 15em;
        margin: 0 auto;

    }

    &>img {
        color: var(--couleurNoir);
    }

    i {
        color: var(--couleurBlanc);
        &:hover{
            cursor: pointer;
        }
    }
}