@media screen and (min-width: 767px) {
    header {
        background-image: url(../_img/_link/entete-original-assets/entete-474.jpg);
    
        background-size: cover;
        height: 20vh;
        width: 100vw;

        i {
            display: none;
        }

        img {
            display: inline;
            height: 10vw;
            align-self: center;
        } 
    }

    .collab {
        width: 80vw;
        padding: 0.5em 0em;
        margin: 1em 0em 0em 3em;
    }

    .wrapper {
        width: 70vw;
        display: flex;
        justify-content: center;

        aside {
            display: flex;
            
            padding-right: 2em;
            
        }

        @include profileAside;
        .pub{
            display: inline;
        }
    }

    ul {
        display: flex;
        background-color: var(--couleurNoir);
        padding: 1em;
        margin: 0em;
        justify-content: space-evenly;

        &>li {
            text-decoration: none;
            list-style: none;
            padding: 1em 0em;

            &>a {
                color: var(--couleurBlanc);
                text-decoration: none;
                padding: 1em 1rem;

            }
        }

        a:hover {
            background-color: var(--couleurBlanc);
            color: var(--couleurNoir);
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-image: url(../_img/_link/entete-original-assets/entete-864.jpg);
        background-position: center;
        img {
           
            height: 8vw;
            
        }
    }
}