.menuPrincipal {
    .fas {
        color: var(--couleurOrange);
        z-index: 1000;
        &:hover {
            cursor: pointer;
        }

    }

    nav {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--couleurNoir);

        ul {
            

            li {
                color: white;
                margin-top: 1em;
                list-style: none;
                text-align: center;

                a {
                    
                    color: var(--couleurNoir);
                    text-decoration: none;
                    background-color: var(--couleurBlanc);
                    padding: 0.5em 5em;

                }
            }
        }

    }


}